@font-face {
  font-family: "star";
  src: url("Star\ Augusta-Italic\ \(kopia\).otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "star Augusta-Italic";
    background-color: whitesmoke;
    overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
  left: 800px;
  top: -500px;
  z-index:0;
}

h2{
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 48px;
  font-weight: 300;
  position: absolute;
  top: -35px;
  right: 10px;
}

h3{
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: 70px;
  left: 50px;

}

.separate-me{
  background-color: grey;
  width:auto;
  height:1px;
  position: relative;
  top: 50px;
}

h1 {
  font-family: "star Augusta italic";
  line-height: 1;
  font-size: 200px;
  color: white;
  outline: none;
  text-align: left;
  position: relative;
  left: 30px;
  top: 800px;
  font-weight: normal;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index:1;
}

h4 {
  font-family: "star Augusta italic";
  line-height: 1;
  font-size: 200px;
  color: white;
  outline: none;
  text-align: left;
  position: relative;
  left: 60px;
  top: -140px;
  font-weight: normal;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index:1;
}

img {
  max-width: 70%;
  height: auto;
  position: relative;
  left: 850px;
  top: -1410px;
}

.static{
 /* background-color: red; */
  width: 600px;
  height: 500px;
  text-align: left;
  position: relative;
  left: 100px;
  top: -1800px;
} 

.italic{
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.brödtext {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  display:inline-block;
  text-align:left;
  width:250px;
  /* background-color: green; */
}

#first-paragraph {
  top: 0;
  left: 0;
}

#second-paragraph {
  top: 0;
  right: 0;
}