@font-face {
  font-family: "Star-Augusta-Italic";
  src: url("Star-Augusta-Italic.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Star-Augusta-Italic";
    background-color: whitesmoke;
    overflow-x: hidden;
    cursor: url('./mus4.png'), auto;
}

.custom-cursor {
position: absolute;
top: 0;
left: 0;
display: none;
z-index: 2;
}


img.bilder {
  max-width: 70%;
  height: auto;
  position: relative;
  left: 850px;
  top: -1407px;
}

h2{
  font-family: Helvetica, sans-serif;
  color: grey;
  opacity: 50%;
  font-size: 38px;
  font-weight: 200;
  position: absolute;
  top: -25px;
  right: 10px;
  display: inline;
  padding: 5px;
}

h3 {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: 70px;
  left: 10px;
}

.separate-me{
  background-color: grey;
  opacity: 50%;
  width:auto;
  height:1px;
  position: relative;
  top: 50px;
}

h1 {
  font-family: "Star-Augusta-Italic";
  line-height: 0.97;
  font-size: 200px;
  color: black;
  outline: none;
  text-align: right;
  position: relative;
  right: 50px;
  top: 70px;
  font-weight: normal;
  z-index:1;
}

.blue:hover h1 {
  color: rgb(99, 148, 237);
}

.blue:hover h4 {
  color: rgb(99, 148, 237);
}

h4 {
  font-family: "Star-Augusta-Italic";
  line-height: 0.97;
  font-size: 200px;
  color: black;
  outline: none;
  text-align: left;
  position: relative;
  left: 60px;
  top: -150px;
  font-weight: normal;
  z-index:1;
  padding: 10px;
}

.static {
  /* background-color: red; */
  width: 755px;
  height: 500px;
  text-align: left;
  position: relative;
  left: 60px;
  top: -1825px;
} 

.italic {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.brödtext {
  position: absolute;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  display:inline-block;
  text-align:left;
  width:240px;
  /* background-color: green; */
}

#first-paragraph {
  top: 0;
  left: 0;
}

#second-paragraph {
  top: 0;
  left: 258px;
}

#third-paragraph {
  top: 0;
  right: 0;
}

.static2{
  /* background-color: red; */
   width: 500px;
   height: 500px;
   text-align: left;
   position: relative;
   left: 930px;
   top: -2720px;
 } 
 
#alone img {
  width: 60%;
  height: 60%;
  background-size: 100%;
  position: relative;
  top: 1000;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
}

.ode {
    position: absolute;
    width: 500px;
    height: 0px;
    background-color: whitesmoke;
    animation-name: rotateSquare;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline;
  }
  
  
  
  @keyframes rotateSquare {
    0% {
      position: absolute;
    left: 0;
    }
    
    100% {
      position: absolute;
    left: calc(100% - 100px);
    }
  }

  .center {
    width: 100%;
    border: 10px;
    padding: 10px;
    text-align: center;
  }

  #carousel {
    width: 100%;
    overflow: none;
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 50s linear infinite;
  }
  
  .carousel-track img {
    height: 700px; /* justera efter behov */
    margin-right: 0px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }

  #carousel:hover .carousel-track {
    animation-play-state: paused;
  }

  #carousel {
    position: relative;
    top: -1350px; /* justera detta tills det ligger där du vill */
    left: 0px;
  }
  