@font-face {
  font-family: "Star-Augusta-Italic";
  src: url("Star-Augusta-Italic.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Star-Augusta-Italic";
    background-color: whitesmoke;
    overflow-x: hidden;
    cursor: none;
}

.custom-cursor {
position: absolute;
top: 0;
left: 0;
display: none;
z-index: 2;
}


img.bilder {
  max-width: 70%;
  height: auto;
  position: relative;
  left: 850px;
  top: -1410px;
}

h2{
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 48px;
  font-weight: 300;
  position: absolute;
  top: -35px;
  right: 10px;
}

h3{
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  top: 70px;
  left: 50px;
}

.separate-me{
  background-color: grey;
  width:auto;
  height:1px;
  position: relative;
  top: 50px;
}

h1 {
  font-family: "Star-Augusta-Italic";
  line-height: 1;
  font-size: 200px;
  color: white;
  outline: none;
  text-align: right;
  position: relative;
  right: 50px;
  top: 70px;
  font-weight: normal;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index:1;
}
.star: hover {
  color: rgb(99, 148, 237);
}

h4 {
  font-family: "Star-Augusta-Italic";
  line-height: 0.97;
  font-size: 200px;
  color: white;
  outline: none;
  text-align: left;
  position: relative;
  left: 60px;
  top: -150px;
  font-weight: normal;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index:1;
  padding: 10px;
}

.static{
  /* background-color: red; */
  width: 755px;
  height: 500px;
  text-align: left;
  position: relative;
  left: 60px;
  top: -1820px;
} 

.italic{
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.brödtext {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  display:inline-block;
  text-align:left;
  width:240px;
  text-align: justify;
  text-justify: inter-word;
  /* background-color: green; */
}

#first-paragraph {
  top: 0;
  left: 0;
}

#second-paragraph {
  top: 0;
  left: 258px;
}

#third-paragraph {
  top: 0;
  right: 0;
}

.static2{
  /* background-color: red; */
   width: 500px;
   height: 500px;
   text-align: left;
   position: relative;
   left: 930px;
   top: -4225px;
 } 
 
#alone img {
  width: 60%;
  height: 60%;
  background-size: 100%;
  position: relative;
  top: 1000;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
}

# sidescroll {
  width: 30%;
  height: 30%;
  background-size: 100%;
  position: relative;
  top: 1000;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
}

# sidescroll {
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: relative;
  top: -2500px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-1500px);
  transform-origin: right top;
  display: inline-block;
    
}

#sidescroll > div {
  transform: rotate(90deg);
  transform-origin: right top;
  width: 20%;
  height: 20%;
  margin: 30px;
  display: inline-block;
}

.banner {

}